<aside class="dashboard-sidebar leader-sidebar">
    <div class="leader-profile-section">
        
        <div class="profile-information-container">
            <div class="leader-profile-image-container">
                {{#if leader.profileImage}}
                    <img src="{{leader.profileImage}}" alt="Profile photo" class="leader-profile-image">
                {{else}}
                    <img src="/images/default-avatar.png" alt="Default avatar" class="leader-profile-image">
                {{/if}}
            </div>
            <div class="leader-profile-info">
                <h2 class="leader-profile-name">{{leader.groupLeaderName}}</h2>
                <p class="leader-profile-title">Group Leader</p>
                <a href="/profile/leader/{{leader._id}}" class="leader-profile-btn">my leader profile</a>
                <button type="button" class="leader-profile-btn"
                    onclick="window.location.href='/profile/group/{{leader._id}}'">
                    {{leader.groupName}} profile
                </button>
            </div>
        </div>

        {{!-- <hr class="sidebar-divider"></hr> --}}

        <!-- Report Links Grid -->
        <div class="report-grid-container">
            <h2 class="leader-profile-title" style="font-size: 1rem;   margin-bottom: -20px;">{{leader.groupName}} Report Center</h2>
            <div class="leader-report-grid">
                <a href="/reports/memberengagement" class="report-link">
                    <img src="/icons/memberengagement.svg" alt="Member Engagement Report">
                </a>
                <a href="/reports/teamengagement" class="report-link">
                    <img src="/icons/teamengagement.svg" alt="Team Engagement Report">
                </a>
                <a href="/reports/promptsetscompleted" class="report-link">
                    <img src="/icons/promptsets.svg" alt="Prompt Sets Report">
                </a>
                <a href="/reports/unitscompleted" class="report-link">
                    <img src="/icons/libraryunits.svg" alt="Library Units Report">
                </a>
            </div>
        </div>
    </div>
</aside>


 









